<!DOCTYPE HTML>
<html>
        <head>
        <meta charset="utf-8">
        <title>RisiKo! Digital 3</title>
        <link href="html5.css" rel="stylesheet" type="text/css">
        </head>

        <body>
        <div class="site_container" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
          <article class="content" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <header>

              <div id="logo"><img src="logo_RisiKo_black.jpg" width="95%" height="95%" alt="RD3" align="center"></div>

            </header>
<!--           
            <div class="content_full"></div>
-->
              <div class="clearfloat"></div>
              <section style="height: auto; overflow:hidden; padding: 8px;" id="contents" name="contents"> 
	<table width="100%" border="1" cellpadding="2" cellspacing="2" class="Stile1" style="border-collapse:collapse;" bgcolor="#1B0388">

    <thead bgcolor="#1a481f">
    	<tr>
    		<td class="Stile1" colspan="10" align="center">
    			<font size="+4">Torneo Prestigious - $meseanno</font>
    		</td>
    	</tr>
    </thead>
<!--    
    	<tr>
    		<td colspan="10" align="left"><small>da $dataInizio  <br /></small></td>
    	</tr>
 -->
    	<tr>
    		<td colspan="10">Totale partite giocate: $totalePartiteGiocate<br />Giocatori: <b>$rankingPrestigious.size()</b></br>Ultimo aggiornamento: $adesso</td>
	     </tr>
        <tr align="center" valign="middle" bgcolor="#000000">
	      	<td><strong></strong></td>        
	        <td  id="nome"><b>Username</b></a></td>
	    	<td  id="giocate"><b>Giocate</b></a></td>
	    	<td  id="vinte"><b>Vinte</b></a></td>
	    	<td  id="last_match"><b>Ultima partita</b></a></td>
	    	<td  id="match_count"><b>Partite 1^ settimana</b></a></td>
	    	<td  id="match_count"><b>Partite 2^ settimana</b></a></td>
	    	<td  id="match_count"><b>Partite 3^ settimana</b></a></td>
	    	<td  id="match_count"><b>Partite 4^ settimana</b></a></td>
	    	<td  id="srank"><b>Ranking</b></a></td>
	    </tr>

    #foreach( $ranking in $rankingPrestigious )
		<tr align="center" valign="middle">
		  <td>$velocityCount</td> 
		  <td><b><a href=" http://rd3.editricegiochi.it/site/schedagiocatore.php?mtype=prestigious&timeframe=anno&login=$ranking.nickName"><font style=color:#fff>$ranking.nickName</font></a></b></td>
		  <td>$ranking.numeroPartiteGiocate</td>
		  <td>$ranking.numeroPartiteVinte</td>
		  <td>$ranking.dataUltimaPartita</td>
		  #if( $ranking.numeroPartiteGiocatePrimaSettimana > 5 )
   			<td bgcolor="red"><b>$ranking.numeroPartiteGiocatePrimaSettimana</b></td>
   		  #else
   		 	 <td><b>$ranking.numeroPartiteGiocatePrimaSettimana</b></td>
		  #end
		  #if( $ranking.numeroPartiteGiocateSecondaSettimana > 5 )
		  	 <td bgcolor="red"><b>$ranking.numeroPartiteGiocateSecondaSettimana</b></td>
		  #else
         	 <td><b>$ranking.numeroPartiteGiocateSecondaSettimana</b></td>
          #end
          #if( $ranking.numeroPartiteGiocateTerzaSettimana > 5 )
          	<td bgcolor="red"><b>$ranking.numeroPartiteGiocateTerzaSettimana</b></td>
          #else
          	<td><b>$ranking.numeroPartiteGiocateTerzaSettimana</b></td>
          #end
          #if( $ranking.numeroPartiteGiocateQuartaSettimana > 5 )
          	<td bgcolor="red"><b>$ranking.numeroPartiteGiocateQuartaSettimana</b></td>
          #else
         	<td><b>$ranking.numeroPartiteGiocateQuartaSettimana</b></td>
          #end
		  <td><b>$ranking.ranking</b></td>	  
		</tr>
	#end
        
	</table>
</section>

            </div>
            
            <!-- end .content --></article>
  <aside>
  #parse("templateRightPanel.vm")
  </aside>

         
          <footer>

          </footer>
          <!-- end .container --></div>
</body>
</html>